body {
  height: 100%;
  background: none, url('../images/blue_city.jpg') rgb(27, 27, 27);
  background-repeat: repeat, repeat;
  background-size: cover, cover;
  background-position: center center, center center;
  background-attachment: scroll, scroll;
  font: 400 1.688em/1.38 Montserrat;
  color: #ffffff;
}

.container {
  position: relative;
  float: left;
  width: 80%;
  margin-left: 10%;
}

.image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 83px;
  height: auto;
  margin: -62px 0 0 10.83073%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  clear: both;
  margin-left: 12.83073%;
  font-size: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
}

._container {
  z-index: 10;
  height: 286px;
  border: 1px solid rgb(255, 255, 255);
}

._element {
  z-index: 9;
  height: 286px;
  margin-top: 55px;
  border: 1px solid rgb(255, 255, 255);
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
  width: 13.5833333333%;
  height: 21px;
  margin: -39px 0 0 24.7474%;
  padding: 0 10px;
  background-color: #ffffff;
  font-size: 0.481em;
  color: rgb(0, 0, 0);
}

.container-1 {
  z-index: 0;
  height: 62px;
  margin-top: -3px;
}

.text-1 {
  z-index: 12;
  margin-top: -263px;
  color: rgb(255, 255, 255);
}

.text-2 {
  z-index: 11;
  margin-top: -265px;
  color: rgb(237, 220, 220);
}

._button-1 {
  z-index: 1;
  margin: -42px 0 0 16.33073%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 0.815em;
  font-weight: 700;
  text-align: left;
  color: #ff5a5f;
}

._button-2 {
  z-index: 7;
  width: 5.1666666666%;
  height: 27px;
  margin: -39px 0 0 49.1992199999%;
  border-radius: 3px;
  font-size: 0.593em;
  text-align: center;
  color: #ffffff;
}

._button-3 {
  z-index: 3;
  height: 27px;
  margin: -39px 0 0 56.79948%;
  border-radius: 3px;
  font-size: 0.593em;
  text-align: center;
  color: #ffffff;
}

._button-4 {
  z-index: 4;
  height: 27px;
  margin: -39px 0 0 62.79948%;
  border-radius: 3px;
  font-size: 0.593em;
  text-align: center;
  color: #ffffff;
}

._button-5 {
  z-index: 5;
  height: 27px;
  margin: -39px 0 0 71.73307%;
  border-radius: 3px;
  font-size: 0.593em;
  text-align: center;
  color: #ffffff;
}

._button-6 {
  z-index: 6;
  height: 27px;
  margin: -39px 0 0 78%;
  border-radius: 3px;
  font-size: 0.593em;
  text-align: center;
  color: #ffffff;
}