 <!DOCTYPE html>
<html>
  <head>
    <title>The Wall</title>
    <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>You are now logged in!</h1>
            <form class="frmUserProfile" action="/user/delete" method="post">
              <div class="inline">{{user[0].first_name}}</div>
              <div class="inline">{{user[0].last_name}}</div>
              <div class="inline">{{user[0].email}}</div>
              <div class="inline">{{(user[0].created_at).strftime("%m/%d/%Y %H:%M%p")}}</div>
              <a class="inline" href="/user/edit"><button type="button" name="btnEdit">Edit</button></a>
              <button class="inline" type="submit" name="btnDelete">Delete</button>
              <a class="inline" href="/wall"><button type="button" name="btnCancel">Cancel</button></a>
            </form>
    </div>
  </body>
</html>
