body {
  height: 100%;
  background: none, url('../images/blue_city.jpg') rgb(27, 27, 27);
  background-repeat: repeat, repeat;
  background-size: cover, cover;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
  font: 400 1.563em/1.38 Montserrat;
  color: #ffffff;
}

.container {
  position: relative;
  float: left;
  z-index: 0;
  width: 80%;
  height: 62px;
  margin: -3px 0 0 10%;
}

.element {
  position: relative;
  float: left;
  z-index: 8;
  width: 80%;
  height: 713px;
  margin: 5px 0 0 10%;
}

.image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 83px;
  height: auto;
  margin: -62px 0 0 10%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  margin-left: 15.19922%;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
  width: 13.5833333333%;
  height: 21px;
  margin: -39px 0 0 24.7474%;
  padding: 0 10px;
  background-color: #ffffff;
  font-size: 0.52em;
  color: rgb(0, 0, 0);
}

.text-1 {
  clear: both;
  z-index: 10;
  margin-top: -675px;
  font-size: 1.2em;
  line-height: 1.88;
  color: rgb(255, 255, 255);
}

.text-2 {
  z-index: 11;
  margin-top: -619px;
  font: 300 1em/0.88 Ubuntu;
  color: rgb(204, 204, 204);
}

._button-1 {
  z-index: 1;
  margin: -39px 0 0 16.91667%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 0.64em;
  font-weight: 700;
  text-align: left;
  color: #ff5a5f;
}

._button-10 {
  z-index: 15;
  width: 24.5%;
  height: 60px;
  margin: -476px 0 0 63.58203%;
  border: 2px solid #cccccc;
  border-radius: 60px;
  font-size: 0.88em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

._button-2 {
  z-index: 7;
  width: 5.1666666666%;
  height: 27px;
  margin: -39px 0 0 49.1992199999%;
  border-radius: 3px;
  font-size: 0.64em;
  text-align: center;
  color: #ffffff;
}

._button-3 {
  z-index: 3;
  height: 27px;
  margin: -39px 0 0 56.79948%;
  border-radius: 3px;
  font-size: 0.64em;
  text-align: center;
  color: #ffffff;
}

._button-4 {
  z-index: 4;
  height: 27px;
  margin: -39px 0 0 62.79948%;
  border-radius: 3px;
  font-size: 0.64em;
  text-align: center;
  color: #ffffff;
}

._button-5 {
  z-index: 5;
  height: 27px;
  margin: -39px 0 0 71.73307%;
  border-radius: 3px;
  font-size: 0.64em;
  text-align: center;
  color: #ffffff;
}

._button-6 {
  z-index: 6;
  height: 27px;
  margin: -39px 0 0 78%;
  border-radius: 3px;
  font-size: 0.64em;
  text-align: center;
  color: #ffffff;
}

._button-7 {
  z-index: 12;
  width: 8.4166666666%;
  height: 60px;
  margin: -476px 0 0 15.16667%;
  border: 2px solid #cccccc;
  border-radius: 60px;
  font-size: 0.88em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

._button-8 {
  z-index: 14;
  width: 13.5833333333%;
  height: 60px;
  margin: -476px 0 0 28.83073%;
  border: 2px solid #cccccc;
  border-radius: 60px;
  font-size: 0.88em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

._button-9 {
  z-index: 13;
  width: 13.8333333333%;
  height: 60px;
  margin: -476px 0 0 47%;
  border: 2px solid #cccccc;
  border-radius: 60px;
  font-size: 0.88em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}